<div class='logo'>	
	<nav class="navbar navbar-default">
	<div class="container-fluid header">
		<h1>Invisalign</h1>
	</div>
	</nav>
</div>

<ul class="nav nav-tabs">
	<% if current_user%>
		<li class=<%=active('authenticate', 'login')%>>
			<%= link_to "Home", root_path, class: 'navHeads' %>				
		</li>		
		<li>
			<%= link_to "Logout", logout_path, class: 'navHeads'  %>				
		</li>

		<span class="welcome"><h4>Welcome <%= full_name %></h4></span>
	<% else %>
		<li class=<%= active('authenticate', 'login')%>>
			<%= link_to "Login", root_path, class: 'navHeads'  %>				
		</li>
	<% end %>
</ul>